<ion-header>
  <ion-toolbar>
    <ion-title>
      My Health
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Visits</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>The recent doctor visits</p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Documents</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Reports,Prescriptions and other documents</p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>My Providers</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Insurance and other company providers</p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pharmacies</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Selected pharmacy locations</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
</ion-content>
