<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Choose a visit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
      <ion-list>
        <ion-item>
          <ion-button class= "center" href="/firstavailable">First Available</ion-button>
        </ion-item>
        <ion-item>
          <ion-button class= "center" href="/listofdoc">Book Appointment</ion-button>
        </ion-item>
        <ion-item>
          <ion-button class= "center">Mental Health</ion-button>
        </ion-item>
      </ion-list>
        </ion-col>
     </ion-row>
  </ion-grid>
</ion-content>