<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "/visit"></ion-back-button>
    </ion-buttons>
    <ion-title>Appointment Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class = "ion-text-center">
    <ion-card-content>
      <div class = "li">
      <h1>Thank you!</h1>
      <h1>Your Appointment has been booked for today at 9am.</h1></div>    
    </ion-card-content>
  </ion-card>
  <ion-card>
  <ion-item>
    <div class = "pi">
      <ion-checkbox color="primary"></ion-checkbox><p class = "ion-text-center">Receive reminder notification for appointment</p></div>
  </ion-item>
</ion-card>
</ion-content>

