<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "/listofdoc"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Doctor Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-card>
    <ion-item>
      <ion-label>
        <img src="assets/imgs/images.jpg" height='120' width='120' >
        <h1>Dr Ben Carson, MD</h1>
        <h2>Family Physician</h2>
    </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-label>
       <p>I have over 20 years of experience in medical service. I am currently the Chief of Service of the Department of Anaesthesiology and Operating Theatre Services, Queen Elizabeth Hospital. doctors undergoing specialist training for anaesthesiology and pain medicine. </p>
      </ion-label>
      <ion-item>
        <h2>Recent Reviews</h2><br>
        <P>Great bedside manner and very patient doctor!</P><br>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
     <p></p>
     <p>Next Availability
     <ion-button>
      Today 10:30am
    </ion-button> </p><br>
     <ion-button href="/appt">Book</ion-button>      
    </ion-card-content>
  </ion-card>
</ion-content>
