<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "/listofdoc"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Doctor Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-card>
    <ion-item>
      <ion-label>
        <img src="assets/imgs/v.jpg" height='120' width='120' >
        <h1>Dr Penne Kunna, MD</h1>
        <h2>Family Physician</h2>
    </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-label>
       <p>I have over 25 years of experience in medical service. I am currently in medical practice with a specialisation in Gastroenterology. </p>
      </ion-label>
      <ion-item>
        <h2>Recent Reviews</h2><br>
        <P>Attentive and gentle doctor!</P><br>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
     <p></p>
     <p>Next Availability
     <ion-button>
      Today 9:00am
    </ion-button> </p><br>
     <ion-button href="/appt2">Book</ion-button>      
    </ion-card-content>
  </ion-card>
</ion-content>

